body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

#box {
  width: 200px;
  height: 200px;
  background: red;
  margin: 40px auto;
  display: none;
  cursor: pointer;
}