  <link rel="index" href="index.html">

body {
  font-family: Arial;
  text-align: center;
  transition: 0.4s;
  background: white;
  color: black;
  padding-top: 100px;
}

.dark {
  background: #121212;
  color: white;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}