body{
  background:#0f172a;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:white;
}
.board{
  display:flex;
  gap:20px;
}
.col{
  background:#111827;
  width:200px;
  padding:10px;
  border-radius:8px;
}
.task{
  background:#22c55e;
  margin:8px 0;
  padding:6px;
  cursor:grab;
}