body {
  font-family: Arial;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.colorBox {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

button {
  padding: 10px 20px;
}